@{
    ViewData["Title"] = "Xác nhận đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-wrapper success-msg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
            <i class="tf-ion-android-checkmark-circle"></i>
          <h2 class="text-center">Cảm ơn bạn vì đã mua hàng!</h2>
          <a href="shop.html" class="btn btn-main mt-20">Tiếp tục mua hàng</a>
        </div>
      </div>
    </div>
  </div>
</section>