@model WebsitePhuKienSunOne.ModelViews.ChangePasswordVM

@{
	ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>Đổi mật khẩu</h3>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_content">
					<br />
					<form asp-controller="AdminAccounts" asp-action="ChangePassword" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">						
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
								Mật khẩu cũ <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<input asp-for="OldPassword" type="password" id="first-name" minlength="8" required="required" class="form-control ">
							</div>
						</div>
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
								Mật khẩu mới <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<input asp-for="NewPassword" type="password" id="first-name" minlength="8" required="required" class="form-control ">
							</div>
						</div>
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
								Nhập lại mật khẩu <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<input asp-for="ConfirmPassword" type="password" id="first-name" minlength="8" required="required" class="form-control ">
							</div>
						</div>
						<div class="ln_solid"></div>
						<div class="item form-group">
							<div class="col-md-6 col-sm-6 offset-md-3">
								<button type="submit" class="btn btn-success">Đổi mật khẩu</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>