@model WebsitePhuKienSunOne.Models.Account

@{
	ViewData["Title"] = "Cập nhật tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>Cập nhật tài khoản</h3>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_content">
					<br />
					<form asp-controller="AdminAccounts" asp-action="Edit" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
						<input asp-for="AccountId" type="hidden" />
						<input asp-for="Salt" type="hidden" />
						<input asp-for="CreateDate" type="hidden" />
						<input asp-for="LastLogin" type="hidden" />
						<input asp-for="Password" type="hidden" />
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
								Họ Tên <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<input asp-for="FullName" type="text" id="first-name" required="required" class="form-control ">
							</div>
						</div>
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
								Email <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<input asp-for="Email" type="email" id="last-name" required="required" class="form-control">
							</div>
						</div>
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
								Số điện thoại <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<input asp-for="Phone" type="tel" id="last-name" required="required" class="form-control">
							</div>
						</div>
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
								Vai trò <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<select class="form-control" asp-for="RoleId" asp-items="ViewBag.Role"></select>
							</div>
						</div>
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
								Active <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<input asp-for="Active" type="checkbox" class="form-control" />
							</div>
						</div>
						<div class="ln_solid"></div>
						<div class="item form-group">
							<div class="col-md-6 col-sm-6 offset-md-3">
								<button type="submit" class="btn btn-success">Cập nhật</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>