@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor


<section class="menu">
    <nav class="navbar navigation">
        <div class="container">
            <div class="navbar-header">
                <h2 class="menu-title">Main Menu</h2>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div><!-- / .navbar-header -->
            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse text-center">
                <ul class="nav navbar-nav">

                    <!-- Home -->
                    <li class="dropdown ">
                        <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                    </li><!-- / Home -->
                    <li class="dropdown ">
                        <a href="/page/ve-chung-toi">Về chúng tôi</a>
                    </li>
                    <li class="dropdown ">
                        <a href="/page/lien-he">Liên hệ</a>
                    </li>
                    <li class="dropdown ">
                        <a href="/news.html">Blog</a>
                    </li>
                    <li class="dropdown ">
                        <a href="/shop.html">Sản phẩm</a>
                    </li>
                    <!-- Account -->
                    <li class="dropdown dropdown-slide">
                        @if (Accessor.HttpContext.Session.GetString("CustomerName") != null)
                        {
                            <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                Chào @Accessor.HttpContext.Session.GetString("CustomerName") <span class="tf-ion-ios-arrow-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Profile.html">Tài khoản của tôi</a></li>
                                <li><a href="/ChangePassword.html">Đổi mật khẩu</a></li>
                                <li><a href="/Logout.html">Đăng xuất</a></li>
                            </ul>
                        }
                        else
                        {
                            <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                Tài khoản <span class="tf-ion-ios-arrow-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Login.html">Đăng nhập</a></li>
                                <li><a href="/Register.html">Đăng ký</a></li>
                                <li><a href="/Profile.html">Quên mật khẩu</a></li>
                            </ul>
                        }
                    </li><!-- / Account -->
                </ul><!-- / .nav .navbar-nav -->

            </div>
            <!--/.navbar-collapse -->
        </div><!-- / .container -->
    </nav>
</section>