@model WebsitePhuKienSunOne.Models.Page

@{
    ViewData["Title"] = "Tạo trang mới";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Styles{
    <!-- bootstrap-wysiwyg -->
    <link href="~/Admin/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="~/Admin/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="~/Admin/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="~/Admin/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- summernote -->
    <link href="~/Admin/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/Admin/summernote/summernote.css" rel="stylesheet" />
}

<div class="page-title">
    <div class="title_left">
        <h3>Tạo trang mới</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="x_panel">
    <form asp-controller="AdminPages" asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="x_content">
            <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Thông tin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">SEO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Mô tả</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="PageName">
                            Tên trang <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="PageName" type="text" required="required" class="form-control ">
                            <span asp-validation-for="PageName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Ordering">
                            Sắp xếp <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="Ordering" type="text" required="required" class="form-control ">
                            <span asp-validation-for="Ordering" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Thumb">
                            Ảnh đại diện <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input name="fThumb" asp-for="Thumb" type="file" class="form-control-file">
                            <span asp-validation-for="Thumb" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"></label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="checkbox" asp-for="Published" class="js-switch" checked="checked"> Hiện
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Title">
                            Title <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="Title" type="text" required="required" class="form-control ">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="MetaDesc">
                            MetaDesc <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="MetaDesc" type="text" required="required" class="form-control ">
                            <span asp-validation-for="MetaDesc" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="MetaKey">
                            MetaKey <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="MetaKey" type="text" required="required" class="form-control ">
                            <span asp-validation-for="MetaKey" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="item form-group">
                        <textarea class="summernote" asp-for="Contents"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 offset-md-3">
                    <button type="submit" class="btn btn-primary">Tạo</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <!-- bootstrap-wysiwyg -->
    <script src="~/Admin/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/Admin/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/Admin/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="~/Admin/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="~/Admin/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="~/Admin/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="~/Admin/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="~/Admin/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="~/Admin/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="~/Admin/vendors/starrr/dist/starrr.js"></script>
    <!-- summernote -->
    <script src="~/Admin/summernote/summernote-bs4.js"></script>
    <script>
        jQuery(document).ready(function () {
            $('.summernote').summernote({
                fontName: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 200,
                minHeight: null,
                maxHeight: null,
                focus: true
            });
        });
    </script>
}