
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a asp-controller="home" asp-action="index" class="site_title"><i class="fa fa-paw"></i> <span>SunOne</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Xin chào,</span>
                <h2>Minh Hùng</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home"></i> Trang chủ
                        </a>
                    </li>
                    <li>
                        <a><i class="fa fa-edit"></i> Quản lý đơn hàng <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="form.html">General Form</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-desktop"></i> Quản lý sản phẩm <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Danh sách sản phẩm</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-table"></i> Quản lý khách hàng <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index">Danh sách khách hàng</a></li>
                            <li><a href="tables.html">Tìm kiếm khách hàng</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Doanh số <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="chartjs.html">Chart JS</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-clone"></i> Quản lý hệ thống <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Quản lý tài khoản</a></li>
                            <li><a href="fixed_sidebar.html">Quản lý danh mục</a></li>
                            <li><a asp-area="Admin" asp-controller="Roles" asp-action="Index">Quản lý quyền truy cập</a></li>
                            <li><a href="fixed_sidebar.html">Quản lý tỉnh thành</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-clone"></i> Quản lý tin tức <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a asp-area="Admin" asp-controller="AdminNews" asp-action="Index">Danh sách tin tức</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-clone"></i> Quản lý Shipper <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-clone"></i> Quản lý trang <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a asp-area="Admin" asp-controller="AdminPages" asp-action="Index">Danh sách trang</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->
    </div>
</div>